<p>customer-order-history works!</p>
<table border="3">
    <tr>
        <th>ORDER ID</th>
        <th>ORDER Date</th>
        <th>ORDER BILLAMOUNT</th>
        <th>ORDER STATUS</th>
        <th>ORDER QUANTITY</th>
        <th>CUSTOMER ID</th>
        <th>Menu ID</th>
        <th>VENDOR ID</th>
        <th>WALLET TYPE</th>
        <th>ORDER COMMENTS</th>
    </tr>
    <tr *ngFor="let u of orders | async">
        <td>{{u.ordId}}</td>
        <td>{{u.ordDate}}</td>
        <td>{{u.billamount}}</td>
        <td>{{u.ordstatus}}</td> 
        <td>{{u.ordqty}}</td> 
        <td>{{u.cusId}}</td>
        <td>{{u.menId}}</td>
        <td>{{u.venId}}</td>
        <td>{{u.wallsource}}</td> 
        <td>{{u.ordComment}}</td> 
    </tr>
</table>
<br><br>
<button (click)="menu()" class="btn btn-success">Menu</button>

